@import url(~@flaticon/flaticon-uicons/css/regular/rounded);

:root {
    --c-red: hsl(0, 100%, 65%);
    --c-orange: hsl(20, 100%, 65%);
    --c-yellow: hsl(40, 100%, 65%);
    --c-blue: hsl(205, 100%, 65%);
    --c-white: hsl(0, 0%, 95%);
    --c-grey: hsl(0, 0%, 50%);
    --c-black: hsl(0, 0%, 20%);
    scrollbar-gutter: stable both-edges;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#createTagDialog {
    border-radius: 1rem;
    border: none;
    padding: 1rem;

    min-width: fit-content;

    &::backdrop {
        background-color: rgba(20, 20, 20, 0.8);
        backdrop-filter: blur(5px);
    }

    .dialog-container {
        h3 {
            text-align: center;
        }

        #createTagForm {
            display: flex;
            gap: 1rem;
            flex-direction: column;

            div {
                text-align: left;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
            }
        }
    }
}

#manageTagsDialog {
    background-color: var(--c-black);
    border: none;
    border-radius: 1rem;
    width: min(80%, 400px);
    min-height: min(80%, 300px);

    &::backdrop {
        background-color: hsl(from var(--c-black) h s l / 0.5);
        backdrop-filter: blur(5px);
    }

    .container {
        h2 {
            margin: 0.5rem 0;
            color: var(--c-white)
        }

        hr {
            margin: 1rem 0;
        }

        .tags-list {
            display: grid;
            gap: 1rem;

            .create-tag-option {
                cursor: pointer;
            }

            .tag-option,
            .create-tag-option {
                color: var(--c-black);
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 0.5rem;

                padding: 1rem 1rem;
                border-radius: 0.5rem;
                background-color: var(--c-white);
                white-space: nowrap;

                .tag-title-input {
                    display: none;

                    font-size: 1rem;
                    background-color: transparent;
                    color: var(--c-black);
                    border: none;
                }

                &.activated {
                    .tag-title-input {
                        display: block;
                    }

                    .tag-title-text {
                        display: none;
                    }

                    .option-buttons {
                        .save-tag-button {
                            display: block;
                        }

                        .rename-tag-button {
                            display: none;
                        }
                    }
                }

                .option-buttons {
                    display: flex;
                    gap: 0.5rem;

                    .save-tag-button {
                        display: none;
                    }

                    i {
                        display: grid;
                        font-size: 1.2rem;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

#root {
    #wipeButton {
        position: fixed;
        top: calc(100% - 100px);
    }

    margin: 1rem;
}

#content {
    margin: auto;
    display: grid;
    gap: 2rem;

    max-width: 700px;

    .header {
        position: sticky;
        top: 1rem;
        margin: auto;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        input,
        select,
        button {
            cursor: pointer;
            border: none;
            background-color: var(--c-black);
            color: var(--c-white);

            &:focus-visible {
                outline: 2px solid var(--c-blue);
            }

            &:hover {
                outline: 2px solid var(--c-grey);
            }
        }

        .search-form {
            display: flex;
            gap: 0.4rem;

            .search-tasks,
            .search-tags {
                padding: 0.5rem;
                border-radius: 0.5rem;
            }

            .clear-search-button {
                background-color: transparent;
                color: var(--c-black);
                aspect-ratio: 1;
                align-self: center;
                height: 1rem;
                width: 1rem;
            }
        }

        .header-options {
            .options-button {
                background-color: var(--c-black);
                color: var(--c-white);
                padding: 0.5rem;
                border-radius: 0.5rem;
            }
        }
    }

    #tasksRoot {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .tasks-container {
            display: flex;
            flex-direction: column;

            h3 {
                margin: 0;
                margin-bottom: 1rem;
            }

            hr {
                min-width: 100%;
            }

            .task-container {
                display: flex;
                gap: 0.5rem;

                &.priority-1 {
                    border-left: 3px solid var(--c-red);
                }

                &.priority-2 {
                    border-left: 3px solid var(--c-orange);
                }

                &.priority-3 {
                    border-left: 3px solid var(--c-yellow);
                }

                .state {
                    margin: 3px 0 0 0.5rem;

                    .task-checkbox {
                        height: 1rem;
                        width: 1rem;
                        margin: 0;
                    }
                }

                .body {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;

                    div.activated:not(.dropdown-container) {
                        display: none;
                    }

                    input[type="text"] {
                        font-size: 1rem;
                    }

                    input.edit-option.activated,
                    button.edit-option.activated,
                    .hide-on.edit {
                        display: block;
                    }

                    input.edit-option,
                    button.edit-option,
                    .hide-on-edit.activated {
                        display: none;
                    }

                    .edit-option,
                    button[type="button"] {
                        cursor: pointer;
                    }

                    .delete-button {
                        display: block;
                    }

                    .top {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .title {
                            max-width: 200px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }

                        .edit-task-buttons {
                            display: flex;
                            gap: 0.5rem;

                            .delete-button {
                                border: 1px solid #ccc;
                                background-color: #fff;
                                aspect-ratio: 1;
                                border-radius: 100%;
                            }
                        }
                    }

                    .bottom {
                        .dropdown-container {
                            cursor: pointer;
                            min-width: min-content;
                            position: relative;

                            .selected-entries {
                                display: flex;
                                align-items: center;
                                text-align: right;
                                gap: 0.5ch;

                                span {
                                    max-width: 136px;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    padding: 8px;
                                    font-size: 0.9rem;
                                    background-color: #aaa;
                                    color: #fff;
                                    border-radius: 1rem;
                                }

                                .placeholder {
                                    display: none;

                                    &:only-child {
                                        display: block;
                                    }
                                }
                            }

                            .dropdown {
                                width: max-content;
                                min-width: 10rem;
                                display: none;
                                position: absolute;
                                top: 140%;
                                right: 0;
                                border: 1px solid #bbb;
                                background-color: #eee;
                                overflow-y: auto;
                                z-index: 100;
                                font-size: 0.9rem;

                                .entry {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    padding: 5px;
                                    gap: 1rem;

                                    &.tagged {
                                        background-color: hsl(from var(--c-blue) h 50% l);
                                        color: #fff;

                                        &:hover {
                                            background-color: hsl(from var(--c-blue) h 50% 40%);
                                        }
                                    }

                                    .title {
                                        margin: 0;
                                    }

                                    &:hover {
                                        background-color: #ccc;
                                    }
                                }
                            }

                            &.activated {
                                .dropdown {
                                    display: block;
                                }
                            }
                        }

                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                }
            }
        }

        #addTask {
            #addTaskButton {
                border: 1px solid #ccc;
                font-size: 1rem;
                padding: 10px 20px;

                cursor: pointer;

                &.activated {
                    display: none;
                }
            }

            #addTaskDialog {
                &.activated {
                    display: block;
                }

                display: none;

                border: 2px solid #ccc;
                padding: 1rem 1rem;

                .header {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    margin-bottom: 1rem;

                    h2 {
                        margin: 0;
                    }

                    #closeAddTaskDialog {
                        aspect-ratio: 1;
                    }
                }

                form {
                    display: grid;
                    grid-auto-flow: row;
                    gap: 0.75rem;


                    &>div {
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                        gap: 0.5rem;

                        input,
                        textarea,
                        select {
                            border: 1px solid #ccc;
                            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                            font-size: 0.9rem;
                            padding: 0.5rem;

                            cursor: pointer;

                            background-color: white;
                        }

                        select,
                        input[type="date"] {
                            max-width: fit-content;
                        }

                        input[type="submit"] {
                            background-color: #ccc;
                        }
                    }

                    .dropdown-container {
                        cursor: pointer;
                        position: relative;

                        .dropdown {
                            box-sizing: border-box;
                            display: none;
                            position: absolute;
                            top: 100%;
                            left: 0;
                            right: 0;
                            background: white;
                            border: 1px solid #ccc;
                            max-height: 150px;
                            overflow-y: auto;
                            z-index: 100;
                            font-size: 0.9rem;

                            .entry {
                                border: solid 1px #ccc;

                                padding: 10px;
                                justify-content: space-between;
                                align-items: center;
                                display: flex;

                                .delete-button {
                                    font-size: 1rem;
                                    max-width: min-content;
                                    max-height: min-content;
                                }

                                .title {
                                    margin: 0;
                                }

                                &:hover {
                                    background-color: #eee;
                                }
                            }

                            .entry.tagged {
                                background-color: #ddd;
                            }
                        }

                        &.activated {
                            .dropdown {
                                display: block;
                            }
                        }

                        .selected-entries {
                            display: flex;
                            align-items: center;
                            padding: 2px 10px;
                            gap: 0.5rem;
                            border: 1px solid #ccc;

                            min-height: 3rem;


                            &:not(:has(span)) {
                                color: #bbb;
                            }

                            span {
                                background-color: #aaa;
                                color: white;
                                padding: 5px 10px;
                                border-radius: 1rem;
                                font-size: 0.9rem;
                                display: flex;
                                align-items: center;
                                gap: 5px;
                                cursor: pointer;
                            }

                            .placeholder {
                                display: none;

                                &:only-child {
                                    display: block;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}

footer {
    background-color: var(--c-black);
    color: var(--c-white);

    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;

    a {
        color: var(--c-grey);
    }
}