@import url(~@flaticon/flaticon-uicons/css/regular/rounded);

:root {
    --c-red: hsl(0, 100%, 55%);
    --c-orange: hsl(20, 100%, 55%);
    --c-yellow: hsl(40, 100%, 55%);
    --c-blue-600: hsl(205, 100%, 60%);
    --c-blue-500: hsl(205, 100%, 50%);
    --c-blue-400: hsl(205 100%, 40%);
    --c-green: hsl(77, 100%, 40%);
    --c-white: hsl(0, 0%, 95%);
    --c-grey: hsl(0, 0%, 50%);
    --c-black: hsl(0, 0%, 20%);
    scrollbar-gutter: stable both-edges;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#manageTagsDialog {
    background-color: var(--c-black);
    border: none;
    border-radius: 1rem;
    width: min(80%, 400px);
    scrollbar-gutter: stable both-edges;
    padding: 1.5rem 1rem;

    &::backdrop {
        background-color: hsl(from var(--c-black) h s l / 0.5);
        backdrop-filter: blur(5px);
    }

    .container {
        h2 {
            margin: 0;
            color: var(--c-white)
        }

        hr {
            margin: 1rem 0;
        }

        .tags-list {
            display: grid;
            gap: 1rem;

            .tag-option,
            .create-tag-option,
            .create-tag-form {
                color: var(--c-black);
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 0.5rem;

                padding: 1rem;
                border-radius: 0.5rem;
                background-color: var(--c-white);
                white-space: nowrap;

                input,
                span {
                    font-size: 1rem;
                    background-color: transparent;
                    color: var(--c-black);
                }

                input {
                    border-color: var(--c-black);
                    border-style: solid;
                }

                button {
                    border: none;
                    padding: 0;
                }

                i {
                    display: grid;
                    font-size: 1.2rem;
                    cursor: pointer;
                }

                .option-buttons {
                    display: flex;
                    gap: 0.5rem;
                }
            }

            .create-tag-option {
                cursor: pointer;
                border: none;

                &.activated {
                    display: none;
                }
            }

            #createTagForm {
                display: none;

                &.activated {
                    display: flex;
                }
            }

            .tag-option {
                .tag-title-input {
                    display: none;
                }

                .option-buttons {
                    .save-tag-button {
                        display: none;
                    }
                }

                &.activated {
                    .tag-title-input {
                        display: block;
                    }

                    .tag-title-text {
                        display: none;
                    }

                    .option-buttons {
                        .save-tag-button {
                            display: grid;
                        }

                        .rename-tag-button {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

#root {
    #wipeButton {
        position: fixed;
        top: calc(100% - 100px);
    }

    margin: 1rem;
}

#content {
    margin: auto;
    display: grid;
    gap: 2rem;

    max-width: 700px;

    .header {
        position: sticky;
        top: 1rem;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        input,
        select,
        button {
            cursor: pointer;
            border: none;
            background-color: var(--c-black);
            color: var(--c-white);

            &:focus-visible {
                outline: 2px solid var(--c-blue-500);
            }

            padding: 0.5rem;
            border-radius: 0.5rem;
        }

        .search-form {
            display: flex;
            gap: 1rem;

            .clear-search-button {
                background: none;
                color: var(--c-black);
                padding: 0;

                &:focus-visible {
                    outline: none;

                    i {
                        display: grid;
                        outline-offset: 0.25rem;
                        outline: 2px solid var(--c-blue-500);
                    }
                }
            }
        }
    }

    #tasksRoot {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .tasks-container {
            display: flex;
            flex-direction: column;

            h3 {
                margin: 0 0 1rem 0;

                &:only-child {
                    margin: 0;
                }
            }

            .task-container {
                display: flex;
                gap: 0.5rem;

                &.priority-1 {
                    border-left: 3px solid var(--c-red);
                }

                &.priority-2 {
                    border-left: 3px solid var(--c-orange);
                }

                &.priority-3 {
                    border-left: 3px solid var(--c-yellow);
                }

                &.completed {
                    border-left: 3px solid var(--c-green);
                }

                .state {
                    margin: 3px 0 0 0.5rem;

                    .task-checkbox {
                        height: 1rem;
                        width: 1rem;
                    }
                }

                .body {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;

                    div.activated:not(.dropdown-container) {
                        display: none;
                    }

                    input[type="text"] {
                        font-size: 1rem;
                    }

                    input.edit-option.activated,
                    button.edit-option.activated,
                    .hide-on.edit {
                        display: block;
                    }

                    input.edit-option,
                    button.edit-option,
                    .hide-on-edit.activated {
                        display: none;
                    }

                    .edit-option,
                    button {
                        cursor: pointer;
                    }

                    .top {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .title {
                            max-width: 200px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }

                        .edit-task-buttons {
                            display: flex;
                            gap: 0.5rem;

                            button:not(.delete-button) {
                                background-color: var(--c-black);
                                color: var(--c-white);
                                border-radius: 0.5rem;
                                border: none;
                                padding: 4px 10px;
                            }

                            .delete-button {
                                color: var(--c-black);
                                background: none;
                                border: 1px solid var(--c-black);
                                border-radius: 100%;
                                aspect-ratio: 1;

                                i {
                                    display: grid;
                                }
                            }
                        }
                    }

                    .bottom {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .dropdown-container {
                            cursor: pointer;
                            position: relative;

                            .selected-entries {
                                display: flex;
                                gap: 0.5ch;

                                span {
                                    max-width: 136px;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    padding: 8px;
                                    font-size: 0.9rem;
                                    background-color: var(--c-grey);
                                    color: var(--c-white);
                                    border-radius: 1rem;
                                }

                                .placeholder {
                                    display: none;

                                    &:only-child {
                                        display: block;
                                    }
                                }
                            }

                            .dropdown {
                                --border-radius: 0.5rem;

                                min-width: 10rem;
                                white-space: nowrap;
                                display: none;
                                position: absolute;
                                top: 140%;
                                right: 0;
                                background: none;
                                overflow-y: auto;
                                z-index: 100;
                                font-size: 0.9rem;

                                .entry {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    padding: 5px;
                                    gap: 1rem;
                                    border: 2px solid hsl(from var(--c-black) h s l / 0.8);
                                    background-color: var(--c-white);
                                    margin-bottom: -2px;


                                    &:last-child {
                                        margin-bottom: 0;
                                        border-bottom-left-radius: var(--border-radius);
                                        border-bottom-right-radius: var(--border-radius);
                                    }

                                    &:first-child {
                                        border-top-left-radius: var(--border-radius);
                                        border-top-right-radius: var(--border-radius);
                                    }

                                    &.tagged {
                                        background-color: hsl(from var(--c-blue-500) h 50% l);
                                        color: #fff;

                                        &:hover {
                                            background-color: hsl(from var(--c-blue-500) h 50% 40%);
                                        }
                                    }

                                    &:hover {
                                        background-color: #ccc;
                                    }
                                }
                            }

                            &.activated {
                                .dropdown {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }

        #addTask {
            #addTaskButton {
                display: flex;
                gap: 0.5rem;
                align-items: center;
                border: none;
                background-color: var(--c-black);
                color: var(--c-white);
                border-radius: 0.5rem;
                font-size: 1rem;
                padding: 10px 20px;

                cursor: pointer;

                &.activated {
                    display: none;
                }
            }

            #addTaskDialog {
                &.activated {
                    display: block;
                }

                display: none;

                background-color: var(--c-black);
                color: var(--c-white);
                padding: 1rem 1rem;
                border-radius: 0.5rem;

                .header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 1rem;

                    h2 {
                        margin: 0;
                    }

                    i {
                        display: grid;
                    }
                }

                form {
                    display: grid;
                    gap: 0.75rem;

                    &>div {
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                        gap: 0.5rem;

                        input,
                        textarea,
                        select {
                            border: none;
                            font-size: 0.9rem;
                            padding: 0.5rem;

                            cursor: pointer;

                            background-color: white;
                            color: var(--c-black);
                        }

                        select,
                        input[type="date"] {
                            max-width: fit-content;
                        }

                        input[type="submit"] {
                            background-color: var(--c-blue-400);
                            color: var(--c-white);
                            border-radius: 8px;
                        }
                    }

                    .dropdown-container {
                        cursor: pointer;
                        position: relative;

                        .dropdown {
                            display: none;
                            position: absolute;
                            top: 96%;
                            left: 0;
                            right: 0;
                            background: white;
                            overflow-y: auto;
                            z-index: 100;
                            font-size: 0.9rem;

                            .entry {
                                padding: 10px;
                                color: var(--c-black);
                                border: 2px solid var(--c-grey);
                                background-color: var(--c-white);

                                &:last-child {
                                    margin-top: -2px;

                                    border-bottom-left-radius: 0.5rem;
                                    border-bottom-right-radius: 0.5rem;
                                }

                                &:hover {
                                    background-color: hsl(from var(--c-grey) h s l / 0.7);
                                }

                                &.tagged {
                                    background-color: var(--c-grey);
                                    color: var(--c-white);
                                }
                            }
                        }

                        &.activated {
                            .dropdown {
                                display: block;
                            }

                            .selected-entries {
                                border-bottom-left-radius: 0;
                                border-bottom-right-radius: 0;
                            }
                        }

                        .selected-entries {
                            display: flex;
                            align-items: center;
                            padding: 10px;
                            gap: 0.5rem;
                            background: var(--c-white);
                            border: 2px solid var(--c-grey);
                            border-radius: 0.25rem;

                            span {
                                background-color: var(--c-grey);
                                color: white;
                                padding: 5px 10px;
                                border-radius: 1rem;
                                font-size: 0.9rem;
                                display: flex;
                                cursor: pointer;
                            }

                            .placeholder {
                                display: none;

                                &:only-child {
                                    display: block;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}

footer {
    background-color: var(--c-black);
    color: var(--c-white);

    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;

    a {
        color: var(--c-grey);
    }
}