:root {
    --molten-lava: #780000ff;
    --brick-red: #c1121fff;
    --papaya-whip: rgb(234, 234, 234);
    --deep-space-blue: #003049ff;
    --steel-blue: #669bbcff;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
}

#createTagDialog {
    border-radius: 1rem;
    border: none;
    padding: 1rem;

    min-width: fit-content;

    &::backdrop {
        background-color: rgba(20, 20, 20, 0.8);
        backdrop-filter: blur(5px);
    }

    .dialog-container {
        h3 {
            text-align: center;
        }

        #createTagForm {
            display: flex;
            gap: 1rem;
            flex-direction: column;

            div {
                text-align: left;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
            }
        }
    }
}

#root {
    display: grid;
    grid-template-columns: 1fr 5.5fr;

    height: 100%;
}

#sidebar {
    background-color: var(--papaya-whip);
    min-width: 250px;
}

#content {
    padding-top: 10vw;
    padding-bottom: 5vw;

    display: flex;
    justify-content: center;

    #task-groups {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: 50%;

        .tasks-container {
            display: flex;
            flex-direction: column;

            h3 {
                margin: 0;
                margin-bottom: 1rem;
            }

            hr {
                min-width: 100%;
            }

            .task-container {
                display: flex;
                gap: 0.5rem;

                .state {
                    .task-checkbox {
                        height: 1rem;
                        width: 1rem;
                    }
                }

                .body {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;

                    div.activated {
                        display: none;
                    }

                    input[type="text"] {
                        font-size: 1rem;
                    }

                    input.activated {
                        display: block;
                    }

                    input:not(.activated),
                    button:not(.activated):not(.delete-button):not(.delete-button) {
                        display: none;
                    }

                    .title,
                    .due-date,
                    .tags,
                    button[type="button"] {
                        cursor: pointer;
                    }

                    .top {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .edit-task-buttons {
                            display: flex;
                            gap: 0.5rem;

                            .delete-button {
                                border: 1px solid #ccc;
                                background-color: #fff;
                                aspect-ratio: 1;
                                border-radius: 100%;
                            }
                        }
                    }

                    .bottom {
                        .tags {
                            min-width: 10rem;
                            position: relative;

                            .tags-container {
                                text-align: right;
                                min-height: 1rem;

                                &.no-tags {
                                    color: #ccc;
                                }
                            }

                            .dropdown {
                                width: max-content;
                                min-width: 10rem;
                                display: none;
                                position: absolute;
                                top: 140%;
                                right: 0;
                                border: 1px solid #bbb;
                                background-color: #eee;
                                overflow-y: auto;
                                z-index: 100;
                                font-size: 0.9rem;

                                .entry:hover {
                                    background-color: #ccc;
                                }

                                .entry {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    padding: 5px;
                                    gap: 1rem;

                                    &.tagged {
                                        background-color: var(--steel-blue);
                                        color: #fff;
                                    }

                                    .title {
                                        margin: 0;
                                    }
                                }
                            }

                            .dropdown.activated {
                                display: block;

                            }
                        }

                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                }
            }
        }

        #add-task {
            #add-task-button {
                border: 1px solid #ccc;
                font-size: 1rem;
                padding: 10px 20px;

                cursor: pointer;

                &.activated {
                    display: none;
                }
            }

            #add-task-dialog {
                &.activated {
                    display: block;
                }

                display: none;

                border: 2px solid #ccc;
                padding: 1rem 0.5rem;

                h2 {
                    margin: 10px 0;
                }

                form {
                    display: grid;
                    grid-auto-flow: row;
                    gap: 0.75rem;


                    &>div {
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                        gap: 0.5rem;

                        input,
                        textarea,
                        select {
                            border: 1px solid #ccc;
                            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                            font-size: 0.9rem;
                            padding: 0.5rem;

                            cursor: pointer;

                            background-color: white;
                        }

                        select,
                        input[type="date"] {
                            max-width: fit-content;
                        }

                        input[type="submit"] {
                            background-color: #ccc;
                        }
                    }

                    .tags-dropdown {
                        cursor: pointer;
                        position: relative;

                        .dropdown {
                            box-sizing: border-box;
                            display: none;
                            position: absolute;
                            top: 100%;
                            left: 0;
                            right: 0;
                            background: white;
                            border: 1px solid #ccc;
                            max-height: 150px;
                            overflow-y: auto;
                            z-index: 100;
                            font-size: 0.9rem;

                            .entry:hover {
                                background-color: #eee;
                            }

                            .entry {
                                border: solid 1px #ccc;

                                padding: 10px;
                                justify-content: space-between;
                                align-items: center;
                                display: flex;

                                .delete-button {
                                    font-size: 1rem;
                                    max-width: min-content;
                                    max-height: min-content;
                                }

                                .title {
                                    margin: 0;
                                }
                            }

                            .entry.tagged {
                                background-color: #ddd;
                            }
                        }

                        &.active {
                            .dropdown {
                                display: block;
                            }
                        }

                        .selected-items {
                            display: flex;
                            align-items: center;
                            padding: 2px 10px;
                            gap: 0.5rem;
                            border: 1px solid #ccc;

                            min-height: 3rem;

                            span {
                                background-color: #aaa;
                                color: white;
                                padding: 5px 10px;
                                border-radius: 5px;
                                font-size: 0.9rem;
                                display: flex;
                                align-items: center;
                                gap: 5px;

                                i {
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}